################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoinGecko/bin/Debug
/.vs
/CoinGecko/obj
/CoinGecko.Test/obj
/CoinGecko.Test/bin
/CoinGecko/bin/Release
